.bodyContainer {
  grid-area: articles;
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-rows: 30px 35fr;
  grid-template-areas:
    "nav"
    "articles";
}

.navi {
  grid-area: nav;
}

.articles {
  grid-area: articles;
  overflow: scroll;
}
