img {
  margin-top: 10px;
  margin-left: 10px;
  z-index: 10;
}

img:hover {
  box-shadow: 0, 0, 10px, 5px, red;
  width: 33px;
  height: 33px;
  transition: 300ms;
}

.commentAuthor {
  padding: 5px;
  margin-top: 10px;
}

.commentTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 250px;
  margin: auto;
}
