img {
  margin-top: 10px;
  margin-left: 10px;
  z-index: 10;
}

img:hover {
  cursor: pointer;
}

.commentAuthor {
  padding: 5px;
  margin-top: 10px;
}

.commentTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 250px;
  margin: auto;
}
