.footer {
  grid-area: footer;
  color: white;
}

.orange-line {
  width: 25%;
  border: #985d55;
  border-radius: 10px;
  margin: auto;
  height: 7px;
  background-color: #985d55;
}

.footer h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}
