.footer {
  grid-area: footer;
  color: white;
  height: 100%;
}

.blue-line {
  width: 25%;
  background-color: #328cc1;
  border-radius: 10px;
  margin: auto;
  height: 2px;
  border: #328cc1;
  margin-bottom: 5px;
  /* margin-top: 10px; */
}

.footer h2 {
  margin-bottom: 5px;
  color: grey;
  font-size: 16px;
}
