.header {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  grid-area: header;
  height: 95px;
}

.headerBox {
  border: white 7px solid;
  width: 30%;

  min-width: 150px;
  margin: auto;
  height: auto;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(7, 7, 7, 0.3);
}
