.minArticle-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-columns: 1 1fr 1fr;
  grid-template-areas:
    "line line line"
    "title title title"
    ". author ."
    ". comments ."
    ". likes .";

  height: 130px;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.line {
  grid-area: line;
  width: 45%;
  border: #985d55;
  border-radius: 10px;
  margin: auto;
  height: 2px;
  background-color: #985d55;
}
.title {
  grid-area: title;
  color: white;
}

.author {
  grid-area: author;
  color: white;
}

.comments {
  grid-area: comments;
  color: white;
}

.likes {
  grid-area: likes;
  color: white;
}
