.minArticle-container {
  display: grid;
  grid-template-rows: 0.75fr 0.5fr 0.5fr;
  grid-template-columns: 3fr 2fr 1.5fr;
  grid-template-areas:
    "title title title"
    "author author ."
    "comments comments likes";
  border: white 1px solid;
  height: 120px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: rgba(240, 255, 255, 0.338);
  box-shadow: 0 2px 20px rgba(7, 7, 7, 0.3);
}

.title {
  grid-area: title;
  border: white 1px solid;
}

.author {
  grid-area: author;
}

.comments {
  grid-area: comments;
  border: white 1px solid;
}

.likes {
  grid-area: likes;
  border: white 1px solid;
}
