.navi {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  width: 90%;
  margin: auto;
  /* border: white solid 3px; */
  height: 40px;
  padding-bottom: 10px;
}

.links {
  color: rgb(155, 155, 155);
  text-decoration: none;
  cursor: pointer;
}

.links:focus {
  color: rgb(205, 203, 203);
}

.links:hover {
  text-shadow: 1px 1px rgba(128, 128, 128, 0.495);
}
