.nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  width: 90%;
  margin: auto;
  /* border: white solid 3px; */
  height: 20px;
  padding-bottom: 10px;
}

.links {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
