.postCommentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.commentLabel {
  color: white;
}

.input {
  width: 80%;
  margin-top: 10px;
  height: 70px;
  font-size: 15px;
  max-width: 500px;
}

.button {
  margin-top: 10px;
  max-width: 300px;
  border: white 1px solid;
  width: 30%;
}
