.postCommentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.commentLabel {
  color: white;
}

.input {
  width: 80%;
  margin-top: 10px;
  height: 70px;
  font-size: 15px;
  max-width: 500px;
}

.button {
  margin-top: 10px;
  background: #328cc1;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  max-width: 250px;
  font-size: 1.2em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.button:hover {
  background: #fff;
  color: #328cc1;
}
.button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #328cc1;
  transition: 400ms ease all;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
