p {
  padding: 20px;
}

h2 {
  color: white;
}

.links {
  color: white;
  /* text-decoration: none; */
  cursor: pointer;
}

.voting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}
