.voting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

h3 {
  padding: 10px;
  color: white;
}

.thumbsdown {
  margin-top: 15px;
}
.thumbsUp {
  margin-right: 7px;
}

.orange-line {
  width: 45%;
  border: #d9b310;
  border-radius: 10px;
  margin: auto;
  height: 2px;
  background-color: #d9b310;
  margin-top: 5px;
  margin-bottom: 45px;
}
